<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Mes choix de formation
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let c of meschoix">
    <ion-card-header>
      <ion-card-subtitle>Choix {{c.id}}</ion-card-subtitle>
      <ion-card-title>{{c.etab}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{c.filiere}}
    </ion-card-content>
    <ion-footer>
      <ion-row>
        <ion-col>
          <div [routerLink]="'details-choix/'+c.id">Détails</div>
        </ion-col>
      </ion-row>
    </ion-footer>
  </ion-card>
</ion-content>