<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Mon orientation
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <h2 class="ion-text-center ion-text-uppercase">Trouvez une école</h2> -->
  <h2 [class]="titreClass">Trouvez une école</h2>
  <form [formGroup]="myForm" (ngSubmit)="search()">
    <ion-item>
      <ion-label position="floating">Saisissez votre moyenne scientifique</ion-label>
      <ion-input type="number" formControlName="moyS"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Saisissez votre moyenne litteraire</ion-label>
      <ion-input fo type="number" formControlName="moyL"></ion-input>
    </ion-item>
    <ion-button type="submit" expand="block" fill="outline">
      Rechercher</ion-button>
  </form>
</ion-content>