<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Mon orientation
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <h2 class="ion-text-center ion-text-uppercase">Trouvez une école</h2> -->
  <h2 [class]="titreClass">Trouvez une école</h2>
  <form [formGroup]="myForm" (ngSubmit)="search()">
    <ion-item>
      <ion-label position="floating">Saisissez votre moyenne scientifique</ion-label>
      <ion-input type="number" formControlName="moyS"></ion-input>
      <div style="color: red;" *ngIf="myForm.controls.moyS.touched && myForm.controls.moyS.hasError('required')">Moyenne
        scientifique est requise</div>
      <div style="color: red;" *ngIf="myForm.controls.moyS.hasError('max') || myForm.controls.moyS.hasError('min')">
        Moyenne scientifique incorrect</div>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Saisissez votre moyenne litteraire</ion-label>
      <ion-input type="number" formControlName="moyL"></ion-input>
    </ion-item>
    <ion-button [disabled]="!myForm.valid" (click)="search()" expand="block" fill="outline">
      Rechercher</ion-button>
  </form>
</ion-content>