<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Détails choix
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Choix {{choix.id}}</ion-card-subtitle>
      <ion-card-title>{{choix.etab}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{choix.filiere}}eee
      <div hidden="{{aff}}">qsdqsdqsd</div>
    </ion-card-content>

  </ion-card>
</ion-content>